.page-navigation {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  width: 420px;
  padding: 20px;

  box-shadow: 5px 5px 0 rgba(154,154,154, 0.3);
  background-color: #ffffff;

  border: 1px solid #878787;
  transition: opacity 0.3s ease;
}

.page-navigation__close {
  position: absolute;
  right: 5px;
  top: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.page-navigation__table {
  width: 100%;
  border-collapse: collapse;
}

.page-navigation__table td {
  width: 50%;
  padding: 5px 0;
  color: #444444;
  border-bottom: 1px dashed #cccccc;
  vertical-align: middle;
}

.page-navigation__link {
  color: #444444;
}

.page-navigation__link:hover,
.page-navigation__link:focus {
  color: lighten(#444444, 10%);
  text-decoration: underline;
}

.close-js {
  opacity: 0;
  z-index: 0;
}

